ai-xml-flow/spec/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ai-xml-flow XML Schema Definition (XSD)
  Version: 1.0
  
  This schema defines the structure and constraints for AGENT.xml and SKILL.xml files.
  
  中文说明：
  此 Schema 定义了 AGENT.xml 和 SKILL.xml 文件的结构和约束。
  包含 9 种积木类型：input, output, task, gateway, loop, event, error-handler, checkpoint, rule
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
  
  <!-- ============================================================
       Root Element: workflow
       根元素：工作流容器
       ============================================================ -->
  <xs:element name="workflow">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Root element of an XML Flow document. Contains all execution blocks.
        工作流文档的根元素，包含所有执行积木。
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <!-- Optional inline schema comment -->
        <xs:any minOccurs="0" maxOccurs="1" processContents="skip"/>
        <!-- field, sequence, and block elements -->
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="field"/>
          <xs:element ref="sequence"/>
          <xs:element ref="block"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Unique identifier for the workflow / 工作流唯一标识</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="version" type="xs:string">
        <xs:annotation>
          <xs:documentation>Workflow version / 工作流版本号</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="status" type="statusType">
        <xs:annotation>
          <xs:documentation>Execution status / 执行状态</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="desc" type="xs:string">
        <xs:annotation>
          <xs:documentation>Workflow description / 工作流描述</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <!-- ============================================================
       Status Type Enumeration
       状态类型枚举
       ============================================================ -->
  <xs:simpleType name="statusType">
    <xs:annotation>
      <xs:documentation>
        Execution status enumeration.
        执行状态枚举。
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="pending">
        <xs:annotation>
          <xs:documentation>Waiting to execute / 等待执行</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="running">
        <xs:annotation>
          <xs:documentation>Currently executing / 正在执行</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="completed">
        <xs:annotation>
          <xs:documentation>Execution completed / 执行完成</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="failed">
        <xs:annotation>
          <xs:documentation>Execution failed / 执行失败</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="skipped">
        <xs:annotation>
          <xs:documentation>Skipped (condition not met) / 被跳过</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="resuming">
        <xs:annotation>
          <xs:documentation>Resuming from checkpoint / 断点续执中</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- ============================================================
       Sequence Container
       顺序容器：sequence
       ============================================================ -->
  <xs:element name="sequence">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Sequential container for grouping blocks. Can be nested.
        Corresponds to Agent's Phase or logical grouping.
        顺序容器，用于对积木进行分组。可嵌套。对应 Agent 的 Phase 或逻辑分组。
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="field"/>
          <xs:element ref="sequence"/>
          <xs:element ref="block"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Unique identifier / 唯一标识</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Container name / 容器名称</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="status" type="statusType">
        <xs:annotation>
          <xs:documentation>Execution status / 执行状态</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="desc" type="xs:string">
        <xs:annotation>
          <xs:documentation>Description / 描述</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="required" type="xs:boolean" default="true">
        <xs:annotation>
          <xs:documentation>Whether this sequence must execute / 是否必须执行</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <!-- ============================================================
       Block Element (The 9 Block Types)
       积木元素（9种积木类型）
       ============================================================ -->
  <xs:element name="block">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Block element representing one of the 9 block types:
        input, output, task, gateway, loop, event, error-handler, checkpoint, rule
        积木元素，代表 9 种积木类型之一。
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="field"/>
          <xs:element ref="branch"/>
          <xs:element ref="try"/>
          <xs:element ref="catch"/>
          <xs:element ref="finally"/>
          <xs:element ref="on-confirm"/>
          <xs:element ref="on-cancel"/>
          <xs:element ref="block"/>
        </xs:choice>
      </xs:sequence>
      
      <!-- Required attributes -->
      <xs:attribute name="id" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Block unique identifier / 积木唯一标识</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="type" type="blockType" use="required">
        <xs:annotation>
          <xs:documentation>Block type / 积木类型</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="desc" type="xs:string" use="required">
        <xs:annotation>
          <xs:documentation>Block description / 积木描述</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      
      <!-- Optional common attributes -->
      <xs:attribute name="status" type="statusType">
        <xs:annotation>
          <xs:documentation>Execution status / 执行状态</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      
      <!-- Task-specific attributes -->
      <xs:attribute name="action" type="actionType">
        <xs:annotation>
          <xs:documentation>Action type for task blocks / task 积木的动作类型</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="timeout" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Timeout in seconds / 超时时间（秒）</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      
      <!-- Gateway-specific attributes -->
      <xs:attribute name="mode" type="gatewayMode">
        <xs:annotation>
          <xs:documentation>Gateway mode / 网关模式</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="test" type="xs:string">
        <xs:annotation>
          <xs:documentation>Condition expression / 条件表达式</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="fail-action" type="failActionType">
        <xs:annotation>
          <xs:documentation>Action on failure / 失败时的动作</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      
      <!-- Loop-specific attributes -->
      <xs:attribute name="over" type="xs:string">
        <xs:annotation>
          <xs:documentation>Collection variable to iterate / 遍历的集合变量</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="as" type="xs:string">
        <xs:annotation>
          <xs:documentation>Current item variable name / 当前项变量名</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="where" type="xs:string">
        <xs:annotation>
          <xs:documentation>Filter condition / 过滤条件</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="parallel" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Whether to execute in parallel / 是否并行执行</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="max-concurrency" type="xs:integer">
        <xs:annotation>
          <xs:documentation>Maximum concurrent executions / 最大并发数</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      
      <!-- Event-specific attributes -->
      <xs:attribute name="level" type="logLevelType">
        <xs:annotation>
          <xs:documentation>Log level for log events / 日志级别</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="title" type="xs:string">
        <xs:annotation>
          <xs:documentation>Title for confirm events / 确认框标题</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Signal name for signal events / 信号名称</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      
      <!-- Checkpoint-specific attributes -->
      <xs:attribute name="resume-point" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Whether this is a resume point / 是否为恢复点</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      
      <!-- Rule-specific attributes -->
      <xs:attribute name="level" type="ruleLevelType">
        <xs:annotation>
          <xs:documentation>Rule level / 规则级别</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="scope" type="xs:string">
        <xs:annotation>
          <xs:documentation>Comma-separated list of block IDs this rule applies to / 受管控的 block ID 列表</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <!-- ============================================================
       Block Type Enumeration (9 types)
       积木类型枚举（9种）
       ============================================================ -->
  <xs:simpleType name="blockType">
    <xs:annotation>
      <xs:documentation>
        The 9 block types in XML Flow.
        XML Flow 的 9 种积木类型。
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="input">
        <xs:annotation>
          <xs:documentation>Input block - defines workflow input parameters / 输入积木 - 定义工作流输入参数</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="output">
        <xs:annotation>
          <xs:documentation>Output block - defines workflow output results / 输出积木 - 定义工作流输出结果</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="task">
        <xs:annotation>
          <xs:documentation>Task block - executes an action / 任务积木 - 执行动作</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="gateway">
        <xs:annotation>
          <xs:documentation>Gateway block - conditional branching / 网关积木 - 条件分支</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="loop">
        <xs:annotation>
          <xs:documentation>Loop block - iteration / 循环积木 - 遍历</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="event">
        <xs:annotation>
          <xs:documentation>Event block - logging, confirmation, signals / 事件积木 - 日志、确认、信号</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="error-handler">
        <xs:annotation>
          <xs:documentation>Error handler block - exception handling / 异常处理积木 - 异常处理</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="checkpoint">
        <xs:annotation>
          <xs:documentation>Checkpoint block - persistence milestone / 检查点积木 - 持久化里程碑</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="rule">
        <xs:annotation>
          <xs:documentation>Rule block - constraint declaration / 规则积木 - 约束声明</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- ============================================================
       Action Type Enumeration
       动作类型枚举
       ============================================================ -->
  <xs:simpleType name="actionType">
    <xs:annotation>
      <xs:documentation>
        Action types for task blocks.
        task 积木的动作类型。
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="run-skill">
        <xs:annotation>
          <xs:documentation>Invoke a Skill / 调用 Skill</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="run-script">
        <xs:annotation>
          <xs:documentation>Execute a script / 执行脚本</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dispatch-to-worker">
        <xs:annotation>
          <xs:documentation>Dispatch task to Worker (Agent only) / 分发任务给 Worker（仅 Agent）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="log">
        <xs:annotation>
          <xs:documentation>Log output (event block) / 日志输出（event 积木）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="confirm">
        <xs:annotation>
          <xs:documentation>User confirmation (event block) / 用户确认（event 积木）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="signal">
        <xs:annotation>
          <xs:documentation>Send signal (event block) / 发送信号（event 积木）</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- ============================================================
       Gateway Mode Enumeration
       网关模式枚举
       ============================================================ -->
  <xs:simpleType name="gatewayMode">
    <xs:annotation>
      <xs:documentation>
        Gateway modes for conditional branching.
        网关的条件分支模式。
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="exclusive">
        <xs:annotation>
          <xs:documentation>Exclusive gateway - first matching branch / 排他网关 - 走第一个匹配分支</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="guard">
        <xs:annotation>
          <xs:documentation>Guard gateway - stop if condition fails / 门禁网关 - 条件不通过则停止</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="parallel">
        <xs:annotation>
          <xs:documentation>Parallel gateway - all branches execute / 并行网关 - 所有分支同时执行</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- ============================================================
       Fail Action Type Enumeration
       失败动作类型枚举
       ============================================================ -->
  <xs:simpleType name="failActionType">
    <xs:annotation>
      <xs:documentation>
        Actions to take when a guard condition fails.
        门禁条件失败时的动作。
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="stop">
        <xs:annotation>
          <xs:documentation>Stop workflow / 终止工作流</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="retry">
        <xs:annotation>
          <xs:documentation>Retry current block / 重试当前积木</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="skip">
        <xs:annotation>
          <xs:documentation>Skip current block / 跳过当前积木</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="fallback">
        <xs:annotation>
          <xs:documentation>Jump to fallback block / 跳转到 fallback 积木</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- ============================================================
       Log Level Type Enumeration
       日志级别类型枚举
       ============================================================ -->
  <xs:simpleType name="logLevelType">
    <xs:annotation>
      <xs:documentation>
        Log levels for event blocks.
        event 积木的日志级别。
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="debug"/>
      <xs:enumeration value="info"/>
      <xs:enumeration value="warn"/>
      <xs:enumeration value="error"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- ============================================================
       Rule Level Type Enumeration
       规则级别类型枚举
       ============================================================ -->
  <xs:simpleType name="ruleLevelType">
    <xs:annotation>
      <xs:documentation>
        Rule levels for rule blocks.
        rule 积木的规则级别。
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="forbidden">
        <xs:annotation>
          <xs:documentation>Forbidden - negative list / 禁止 - 否定清单</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="mandatory">
        <xs:annotation>
          <xs:documentation>Mandatory - must execute / 强制 - 必须执行</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="note">
        <xs:annotation>
          <xs:documentation>Note - guidance / 提示 - 思维指引</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- ============================================================
       Field Element
       字段元素
       ============================================================ -->
  <xs:element name="field">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Field element for parameters, variables, and outputs.
        Unified parameter definition inspired by Blockly fields.
        字段元素，用于参数、变量和输出定义。借鉴 Blockly field 概念。
      </xs:documentation>
    </xs:annotation>
    <xs:complexType mixed="true">
      <xs:attribute name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Parameter or variable name / 参数名或变量名</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="value" type="xs:string">
        <xs:annotation>
          <xs:documentation>Parameter value (supports variable references) / 参数值（支持变量引用）</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="var" type="xs:string">
        <xs:annotation>
          <xs:documentation>Output binding variable name / 输出绑定变量名</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="from" type="xs:string">
        <xs:annotation>
          <xs:documentation>Output source (file path or expression) / 输出来源</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="required" type="xs:boolean" default="true">
        <xs:annotation>
          <xs:documentation>Whether the parameter is required / 是否必填</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="default" type="xs:string">
        <xs:annotation>
          <xs:documentation>Default value for optional parameters / 可选参数的默认值</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="type" type="dataType" default="string">
        <xs:annotation>
          <xs:documentation>Data type hint / 数据类型提示</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="scope" type="scopeType" default="workflow">
        <xs:annotation>
          <xs:documentation>Variable scope / 变量作用域</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="desc" type="xs:string">
        <xs:annotation>
          <xs:documentation>Description / 描述</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <!-- ============================================================
       Data Type Enumeration
       数据类型枚举
       ============================================================ -->
  <xs:simpleType name="dataType">
    <xs:annotation>
      <xs:documentation>
        Data type hints for fields.
        字段的数据类型提示。
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="string"/>
      <xs:enumeration value="number"/>
      <xs:enumeration value="boolean"/>
      <xs:enumeration value="array"/>
      <xs:enumeration value="object"/>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- ============================================================
       Scope Type Enumeration
       作用域类型枚举
       ============================================================ -->
  <xs:simpleType name="scopeType">
    <xs:annotation>
      <xs:documentation>
        Variable scope levels.
        变量作用域级别。
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="workflow">
        <xs:annotation>
          <xs:documentation>Workflow scope - accessible throughout workflow / 工作流作用域</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="sequence">
        <xs:annotation>
          <xs:documentation>Sequence scope - accessible within current sequence / 顺序容器作用域</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="block">
        <xs:annotation>
          <xs:documentation>Block scope - accessible within current block / 积木作用域</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
  <!-- ============================================================
       Branch Element (for Gateway)
       分支元素（用于网关）
       ============================================================ -->
  <xs:element name="branch">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Branch element for gateway blocks.
        网关积木的分支元素。
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="field"/>
          <xs:element ref="block"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Branch name / 分支名称</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="test" type="xs:string">
        <xs:annotation>
          <xs:documentation>Condition expression / 条件表达式</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="default" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Whether this is the default branch / 是否为默认分支</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <!-- ============================================================
       Try Element (for Error Handler)
       Try 元素（用于异常处理）
       ============================================================ -->
  <xs:element name="try">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Try block for error handling.
        异常处理的 try 块。
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="block"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- ============================================================
       Catch Element (for Error Handler)
       Catch 元素（用于异常处理）
       ============================================================ -->
  <xs:element name="catch">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Catch block for error handling. Multiple catch blocks can be defined.
        异常处理的 catch 块。可以定义多个 catch 块。
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="block"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="error-type" type="xs:string">
        <xs:annotation>
          <xs:documentation>Error type to catch / 要捕获的错误类型</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  
  <!-- ============================================================
       Finally Element (for Error Handler)
       Finally 元素（用于异常处理）
       ============================================================ -->
  <xs:element name="finally">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Finally block for error handling - always executes.
        异常处理的 finally 块 - 总是执行。
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="block"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- ============================================================
       On-Confirm Element (for Confirm Event)
       On-Confirm 元素（用于确认事件）
       ============================================================ -->
  <xs:element name="on-confirm">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Handler for user confirmation.
        用户确认的处理逻辑。
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="block"/>
          <xs:element ref="field"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
  <!-- ============================================================
       On-Cancel Element (for Confirm Event)
       On-Cancel 元素（用于确认事件）
       ============================================================ -->
  <xs:element name="on-cancel">
    <xs:annotation>
      <xs:documentation xml:lang="en">
        Handler for user cancellation.
        用户取消的处理逻辑。
      </xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded" minOccurs="0">
          <xs:element ref="block"/>
          <xs:element ref="field"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
